@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-background {
  height: 60vh;
  width: 100%;
  background-image: linear-gradient(rgba(45, 1, 1, 0.49), rgba(45, 1, 1, 0.49)),
    url("https://www.reviews.org/app/uploads/2018/06/Family-watching-YouTube-TV-on-laptop-e1573858678412.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page-text {
  text-align: center;
  margin: 0;
}

.SearchForm {
  width: 100%;
}

.SearchForm * {
  font-size: 1.5rem;
}

.SearchForm input {
  margin-right: 10px;
  width: 75%;
  height: 100%;
  padding-left: 0.5rem;
}

.SearchForm button {
  padding: 0 1%;
  background-color: #b61239;
  color: white;
  border-radius: 5px;
  border: none;
  height: 100%;
}

.text-container {
  color: #fff;
  position: relative;
  margin-bottom: 2%;
  padding: 1rem;
}

.main-page-text {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.main-page-p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

@media all and (min-width: 672px) {
  .SearchForm input {
    margin-right: 10px;
    width: 25%;
    height: 100%;
    padding-left: 0.5rem;
  }
  .main-page-text {
    font-size: 3rem;
  }

  .main-page-p {
    font-size: 1.5rem;
  }
}
