@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

header {
  background-color: #b61239;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: static;
  width: 100vw;
  top: 0;
  z-index: 100;
}

.homepage-link {
  height: 100%;
}

.now-what-text {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 300;
}

.now-what-button {
  background-color: #b61239;
  border: none;
  cursor: pointer;
  padding: 0 2%;
  height: 100%;
}

.title-section {
  height: 100%;
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  margin: 0;
  text-align: left;
}

.favorites {
  letter-spacing: "-1px";
  color: white;
  font-family: "Lato", sans-serif;
}

.header-search {
  font-size: 1.5rem;
  height: 2rem;
  display: inline-block;
  margin-right: 20px;
  border-radius: 5px;
}

.header-search-button {
  border-radius: 5px;
  font-size: 1.5rem;
  height: 2rem;
  width: 120px;
  margin-right: 10px;
  background-color: #cbe5e7;
}

.actions {
  margin-right: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}

.actions > * {
  margin-right: 10px;
}

.navlink {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}

.navlink:hover {
  background: black;
  color: #d3d3d3;
}

.header-form {
  position: absolute;
  background: #b61239;
  top: 60px;
  right: 0px;
  margin-right: 0px;
  padding-top: 5px;
  height: 0;
  transform: scaleY(0);
  transform-origin: 50% 0%;
  transition: transform 0.3s, height 0.3s step-end;
}

.header-form.show {
  height: 40px;
  width: 100%;
  transform: scaleY(1);
  transition: transform 0.3s, width 0s;
}

@media all and (min-width: 600px) {
  .header-form {
    position: static;
    height: 40px !important;
    width: 0px;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.3s, width 0.3s step-end;
  }
  .header-form.show {
    width: 100%;
    transform: scaleX(1);
    transition: transform 0.3s, width 0s;
  }
}
