header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

h1 {
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 2rem;
}

.title-section {
  background-color: #000;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
}

.header-search {
  font-size: 1.5rem;
  height: 2rem;
  display: inline-block;
  margin-right: 20px;
}

.header-search-button {
  border-radius: 5px;
  font-size: 1.5rem;
  height: 2rem;
  width: 120px;
  margin-right: 10px;
}