.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.fakeImage {
  width: 140px;
  height: 200px;
  background: #aaa;
}

.fakeImage::after {
  content: "image goes here";
}