.favorites-display {
        display: flex;
        flex-wrap: wrap;
}

.favorites-display h2 {
    width: 100%;
    text-align: left;
    margin: 1% 5%;
  }

  .favorites-section {
      /* width: 100%; */
      margin: 1% 
  }

   .favorite-type-header {
        border-bottom: 1px solid black;
        margin-bottom: 10%;
   } 
