.favorites-display {
        display: flex;
        flex-wrap: wrap;
        background-color: #473E40;
        margin: 0 3%;
        border-radius: 5px;
}

.favorites-header {
    width: 100%;
    text-align: left;
    margin: 1% 3%;
    font-family: "Avenir Next";
    font-weight: bold;
  }

  .favorites-section {
      width: 100%;
      margin: 1%;
      display: flex;
      flex-wrap: wrap;
  }

   .favorite-type-header {
        color: #fff;
        margin: 2% 1%;
        font-family: "Avenir Next";
        width: 100%;
        text-align: left;
   } 
